.container {
    margin-top: 100px;
    text-align: center;
    margin-left: 0;
}

mat-form-field {
    width: 300px;
    padding-left: 0;
    margin-left: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.login{
    background-color: var(--OneColor);
}