<div class="example-container">
    <form [formGroup]="loginForm">
        <h1>Login</h1>
        <p>Seja bem-vindo(a) de volta!</p>
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Seu email" formControlName="email" required>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Email inválido</mat-error>
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Sua senha" formControlName="senha" [type]="hide ? 'password' : 'text'"
                required>
            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('senha')?.errors?.['minlength']">Mínimo de 8 caracteres</mat-error>
            <mat-icon matPrefix>key</mat-icon>
        </mat-form-field>

        <a routerLink="#" class="esqueci">Esqueci minha senha</a>
        <br>
        <button mat-raised-button class="login" [disabled]="loginForm.invalid">Login</button>
        <br>
        <button (click)="onLoginGoogle()" type="button" mat-raised-button color="warn">
            Entrar com o Google
        </button>
    </form>
</div>