<mat-toolbar class="navbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Entrar</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Feed</span>
        </a>
      </button>
      <button mat-menu-item>
        <mat-icon>checklist</mat-icon>
        <span>Agende seu horário</span>
      </button>
      <button mat-menu-item>
        <a routerLink="cadastro">
          <mat-icon>person_add</mat-icon>
          <span>Cadastre-se</span>
        </a>
      </button>
    </mat-menu>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>

  <ng-template #unlogged>
    <div>
      <button mat-menu-item>
        <a routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Entrar</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Feed</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="cadastro">
          <mat-icon>person_add</mat-icon>
          <span>Cadastre-se</span>
        </a>
      </button>
    </div>
  </ng-template>
</mat-toolbar>