/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--fundo);}

:root{
    --OneColor:#f48fb1;
    --TwoColor: #ffc1e3;
    --threeColor:#bf5f82;
    --black: black;
    --fundo: #F5F5F6;
}

.container {
    margin-top: 100px;
    text-align: center;
    margin-left: 0;
}

mat-form-field {
    width: 300px;
    padding-left: 0;
    margin-left: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.login{
    background-color: var(--OneColor);
}
