.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://colegiosolucao.com/uploads/_thumb/cedoc_doc_16356/img16356_ho9kkdd9e2sucela3dh5c5vmskearp4un3o04hfd4uzgfrgf61fl7l4zqqd7n7xa8lxnqu98inf7xnwy58omfyqltqwmgeo7nb2k.jpg');
    background-size: cover;
  }